<template>
    <MyPageTemplate>
        <div slot="detail" class="custom-container">
            <h2>내 정보</h2>
            <form @submit.prevent="apply">
                <div class="table-wrap">
                    <dl class="item-detail-table">
                        <dt class="item-detail-term">이름</dt>
                        <dd class="item-detail-regular">
                            <div class="input-wrap">
                                <input v-model="form.data.realName" type="text" class="form-input">
                            </div>
                        </dd>
                    </dl>
                    <dl class="item-detail-table">
                        <dt class="item-detail-term">성별</dt>
                        <dd class="item-detail-regular">
                            <div class="radio-wrap">
                                <div class="radio">
                                    <label class="container">
                                        <input v-model="form.data.gender" type="radio" name="gender" value="M">
                                        <span class="checkmark"></span>
                                        남자
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="container">
                                        <input v-model="form.data.gender" type="radio" name="gender" value="F">
                                        <span class="checkmark"></span>
                                        여자
                                    </label>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="item-detail-table">
                        <dt class="item-detail-term">출생연도</dt>
                        <dd class="item-detail-regular">
                            <div class="select-wrap">
                                <select v-model="form.data.birthYear" class="form-input">
                                    <option v-for="(year, index) of birthYearList" :key="index" :value="year.value">{{ year.name }}</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl class="item-detail-table">
                        <dt class="item-detail-term">이메일</dt>
                        <!-- <dd class="item-detail-regular"><b>{{ singleTons.auth.user['email'] }}</b></dd> -->
                        <dd class="item-detail-regular">
                            <div class="input-wrap">
                                <input type="text" class="form-input" >
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="modify-wrapper">
                    <button type="submit" class="modify-btn">기본정보 저장</button>
                </div>
            </form>
        </div>
    </MyPageTemplate>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import MyPageTemplate from '~/templates/mypage.vue';
import AuthView from '~/decorators/auth';
import { AccountForm } from '~/forms/account';

@Component({
    components: {
        MyPageTemplate
    }
})
@AuthView
export default class AccountView extends BaseVue {
    public form = new AccountForm();
    public birthYearList = [];

    mounted() {
        var user : any = this.singleTons.auth.user;
        console.log('this.singleTons = ', this.singleTons);
        console.log('this.singleTons.auth = ', this.singleTons.auth);
        console.log('user = ', user);
        console.log('1user = ', this.singleTons.auth.user);
        if(this.singleTons.auth.user['realName']) {
            this.form.data.realName = this.singleTons.auth.user['realName'];
        }
        if(this.singleTons.auth.user['nickName']) {
            this.form.data.nickName = this.singleTons.auth.user['nickName'];
        }
        if(this.singleTons.auth.user['phone']) {
            this.form.data.phone = this.singleTons.auth.user['phone'];
        }
        if(this.singleTons.auth.user['birthYear']) {
            this.form.data.birthYear = this.singleTons.auth.user['birthYear'];
        }
        let curYear = 2019;
        this.birthYearList.push({name:'선택하세요.', value:-1});
        for(let i = curYear; i > curYear-100; i--) {
            this.birthYearList.push({name:i+'년', value:i});
        }
    }
}
</script>

<style lang="scss" scoped>
.custom-container{
    width: 100%;
    height: 100%;
    h2{
        color: #222;
        font-size: 26px;
        @include noto-sans-cj-medium;
        margin: 8px 0 20px;
    }
    .table-wrap{
        border-bottom: 1px solid #eee;
        padding-bottom: 50px;
    }
    .item-detail-table{
        width: 100%;
        margin: 0 0 10px 0;
        display: inline-block;
        .item-detail-term{
            color: #444;
            font-size: 14px;
            @include noto-sans-cj-regular;
            padding: 10px 10px 0 10px;
            width: 16.666%;
            float: left;
        }
        .item-detail-regular{
            .input-wrap, .select-wrap, .radio-wrap{
                width: 100%;
                height: 40px;
                float: none;
                display: flex;
                align-items: center;
                @include respond-above(md) {
                    float: left;
                    width: 33.333%;
                }
                input, select{
                    width: 100%;
                    height: 100%;
                    padding: 9px 12px;
                    border: 1px solid #ccc;
                    color: #555;
                    @include noto-sans-cj-regular;
                    background-color: #fff;
                    outline: none;
                }
                .radio{
                    @include base-radio;
                    width: 50%;
                    float: left;
                    margin: 0;
                    .checkmark{
                        top: 1px;
                    }
                }
            }  
        }
    }
    .modify-wrapper{
        width: 100%;
        height: auto;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        button{
            width: 200px;
            color: #fff;
            font-size: 15px;
            @include noto-sans-cj-regular;
            background-color: map-get($colors,pointcolor);
            border: none;
            padding: 15px;
            outline: none;
            cursor: pointer;
        }
    }
}
</style>