<template>
    <div class="base-template">
        <MHeader class="web-no" />
        <WHeader class="mobile-no" />
        <Content>
            <div slot="content">
                <slot name="content" />
                <MFooter class="web-no"/>
                <WFooter class="mobile-no" />
            </div>
        </Content>
    </div>
</template>

<script lang="ts">
import { BaseVue } from './../models/vue';
import { Component } from 'vue-property-decorator';
import MHeader from '~/components/m-header.vue';
import WHeader from '~/components/w-header.vue';
import Content from '~/components/content.vue';
import Banner from '~/components/banner.vue';
import MFooter from '~/components/m-footer.vue';
import WFooter from '~/components/w-footer.vue';

@Component({
    components: {
        MHeader,
        WHeader,
        Content,
        Banner,
        MFooter,
        WFooter
    }
})
export default class BaseTemplate extends BaseVue {

}
</script>

<style lang="scss" scoped>
.base-template {
    width: 100%;
    height: 100%;
    .web-no {
        display: block;
        @include respond-above(md) {
            display: none;
        }
    }
    .mobile-no {
        display: none;
        @include respond-above(md) {
            display: block;
        }
    }
}
</style>