<template>
    <div class="campaign-template">
        <MHeader class="web-no" />
        <WHeader class="mobile-no" />
        <Content>
            <div slot="content">
                <MSubHeader class="web-no" :title="'상품정보'" />
                <!-- <WSubheader class="mobile-no" :title="'상품정보'" /> -->
                <slot name="detail" />
                <MFooter class="web-no" />
                <WFooter class="mobile-no" />
            </div>
        </Content>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import MHeader from '~/components/m-header.vue';
import WHeader from '~/components/w-header.vue';
import Content from '~/components/content.vue';
import MSubHeader from '~/components/m-sub-header.vue';
import MFooter from '~/components/m-footer.vue';
import WFooter from '~/components/w-footer.vue';

@Component({
    components: {
        MHeader,
        WHeader,
        Content,
        MSubHeader,
        MFooter,
        WFooter,
    }
})
export default class CampaignTemplate extends BaseVue {

}
</script>

<style lang="scss" scoped>
.campaign-template {
    width: 100%;
    height: 100%;
    .web-no {
        display: block;
        @include respond-above(md) {
            display: none;
        }
    }
    .mobile-no {
        display: none;
        @include respond-above(md) {
            display: block;
        }
    }
}
</style>