<template>
    <div class="login-template">
        <Content>
            <div slot="content">
                <MSubHeader class="web-no" :title="'로그인'" />
                <slot name="form" />
            </div>
        </Content>
    </div>
</template>

<script lang="ts"> 
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import MHeader from '~/components/m-header.vue';
import WHeader from '~/components/w-header.vue';
import Content from '~/components/content.vue';
import MSubHeader from '~/components/m-sub-header.vue';

@Component({
    components: {
        MHeader,
        WHeader,
        Content,
        MSubHeader
    }
})
export default class LoginTemplate extends BaseVue {

}
</script>

<style lang="scss" scoped>
.login-template {
    width: 100%;
    height: 100%;
    .web-no {
        display: block;
        @include respond-above(md) {
            display: none;
        }
    }
    .mobile-no {
        display: none;
        @include respond-above(md) {
            display: block;
        }
    }
}
</style>