<template>
    <div class="mypage-template">
        <MHeader class="web-no" />
        <WHeader class="mobile-no" />

        <Content>
            <div slot="content">
                <div class="mobile-no">
                    <div class="row">
                        <div class="left-side">
                            <MyPageSide />
                        </div>
                        <div class="right-content">
                            <slot name="detail" />
                        </div>
                    </div>
                    <WFooter class="mobile-no" />
                </div>
                <div class="web-no">
                    <MSubHeader :title="'상품정보'" />
                    <slot name="detail" />
                    <MFooter />
                </div>
            </div>
        </Content>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import MHeader from '~/components/m-header.vue';
import WHeader from '~/components/w-header.vue';
import Content from '~/components/content.vue';
import MSubHeader from '~/components/m-sub-header.vue';
import MFooter from '~/components/m-footer.vue';
import WFooter from '~/components/w-footer.vue';
import MyPageSide from '~/components/mypage-side.vue';

@Component({
    components: {
        MHeader,
        WHeader,
        Content,
        MSubHeader,
        MFooter,
        WFooter,
        MyPageSide,
    }
})
export default class MyPageTemplate extends BaseVue {

}
</script>

<style lang="scss" scoped>
.mypage-template {
    width: 100%;
    height: 100%;
    .web-no {
        display: block;
        @include respond-above(md) {
            display: none;
        }
    }
    .mobile-no {
        display: none;
        @include respond-above(md) {
            display: block;
        }
    }
    .row {
        width: 1160px;
        height: 100%;
        min-height: 563px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 10px;
        .left-side {
            width: 25%;
            height: 100%;
            float: left;
            border-right: 1px solid #eee;
            padding-right: 40px;
        }
        .right-content {
            width: 75%;
            height: 100%;
            float: left;
            padding: 37px 45px 80px;


        }
    }
}
</style>