.modal-container .modal-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container .modal-content {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-container:nth-of-type(1) .modal-back {
  z-index: 1000 !important;
}

.modal-container:nth-of-type(1) .modal-content {
  z-index: 1001 !important;
}

.modal-container:nth-of-type(2) .modal-back {
  z-index: 1002 !important;
}

.modal-container:nth-of-type(2) .modal-content {
  z-index: 1003 !important;
}

.modal-container:nth-of-type(3) .modal-back {
  z-index: 1004 !important;
}

.modal-container:nth-of-type(3) .modal-content {
  z-index: 1005 !important;
}
/*# sourceMappingURL=modal.css.map */