<template>
    <CampaignTemplate>
        <div slot="detail" class="detail-container">
            <div class="detail-left-wrap">
                <div class="top-wrap">
                    <h2>캠페인 신청하기</h2>
                    <div class="mobile-wrap">
                        <p>{{ campaign.titleSub }}</p>
                        <div class="label-area">
                            <div class="ng-scope blog">
                                BLOG
                            </div>
                            <div class="ng-scope point">
                                20,000P
                            </div>
                            <div class="ng-scope review">
                                리뷰 2개
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-detail-right-wrap">
                    <ul>
                        <li class="bold">
                            <div class="title">리뷰어 신청기간</div>
                            <div class="binding">
                                {{ campaign.startDate }} ~ {{ campaign.endDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">리뷰어 발표</div>
                            <div class="binding">
                                04.05
                            </div>
                        </li>
                        <li>
                            <div class="title">콘텐츠 등록기간</div>
                            <div class="binding">
                                {{ campaign.registerStartDate }} ~ {{ campaign.registerStartDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">캠페인 결과발표</div>
                            <div class="binding">
                                {{ campaign.finalDate }}
                            </div>
                        </li>
                    </ul>
                    <div class="right-img-wrap">
                        <img src="https://s3-ap-northeast-1.amazonaws.com/file1.weble.net/campaign/data/210264/thumb200.jpg?bust=1554359711086" alt="" />
                    </div>
                </div>
                <div class="mobile-line"></div>
                <div class="campaign-content">
                    <form @submit.prevent="apply">
                        <!-- <dl v-if="campaign.quickLink" class="item-detail-table"> -->
                        <dl class="item-detail-table">
                            <dt>바로가기 링크</dt>
                            <dd>
                                <!-- <a :href="campaign.quickLink">{{ campaign.quickLink }}</a> -->
                                <a href="https://www.weneepl.com/recommend" target="_blank">https://www.weneepl.com</a>
                            </dd>
                        </dl>
                        <dl class="item-detail-table">
                            <dt>캠페인 주요 정보</dt>
                            <dd v-html="campaign.detailGift"></dd>
                        </dl>
                        
                        <dl class="item-detail-table">
                            <dt>회원 기본정보</dt>
                            <dd>
                                <p>회원 기본정보를 입력해주세요.</p>
                                <div class="form-group">
                                    <label class="form-label">이름</label>
                                    <div class="input-wrap">
                                        <input v-model="form.data.name" type="text" class="form-input">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">출생연도</label>
                                    <div class="select-wrap">
                                        <select v-model="form.data.birthYear" class="form-input">
                                            <option v-for="(year, index) of birthYearList" :key="index" :value="year.value">{{ year.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">성별</label>
                                    <div class="radio-wrap">
                                        <div class="radio">
                                            <label class="container">
                                                <input v-model="form.data.gender" type="radio" name="gender" value="M">
                                                <span class="checkmark"></span>
                                                남자
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label class="container">
                                                <input v-model="form.data.gender" type="radio" name="gender" value="F">
                                                <span class="checkmark"></span>
                                                여자
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">연락처</label>
                                    <div class="input-wrap">
                                        <input v-model="form.data.phone" type="text" class="form-input" placeholder='010-XXXX-XXXX'>
                                    </div>
                                </div>                            
                            </dd>
                        </dl>
                        <dl class="item-detail-table">
                            <dt>블로그 등록</dt>
                            <dd>
                                <div class="form-group">
                                    <label>리뷰를 작성할 블로그를 등록해주세요. 등록한 블로그는 선정 후 변경할 수 없습니다.</label><br>
                                    <div class="blog-wrap">
                                        <input v-model="form.data.snsUrl" type="text">
                                        <button>블로그 등록</button>
                                    </div>
                                    <div class="warning">*http://를 포함한 URL이 정확한지 확인해주세요.</div>
                                    <div class="txt">
                                    - 등록 및 변경하고자 하는 블로그 URL 혹은 RSS를 입력해 주세요.<br>
                                    - 1개 이상의 포스팅이 외부에 검색가능한 상태일때에만 블로그 등록이 가능합니다.<br>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl class="item-detail-table">
                            <dt>신청 정보 입력</dt>
                            <dd>
                                <div class="form-group">
                                    <label class="apply-wrap"><p>신청한마디를 남겨주세요. (필수)</p><div class="count">0 / 120</div></label>
                                    <div class="textarea-wrap"><textarea v-model="form.data.comment" cols=100 rows=2></textarea></div>
                                    <p class="desc">신청 옵션을 입력해주세요.</p>
                                    <div class="txt2" v-html="campaign.detailOption"></div>
                                    <div class="input-wrap long"><input v-model="form.data.option" type="text"></div>
                                </div>
                            </dd>
                        </dl>
                        <dl class="item-detail-table mobile">
                            <dt>캠페인 동의</dt>
                            <dd>
                                <div class="checkbox-wrap">
                                    <div class="checkbox">
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                            초상권 활용에 동의 합니다.
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            켐페인 유의사항 및 제 3자 제공에 모두 동의합니다.
                                        </label>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </form>
                </div>
            </div>
            <div class="mobile-footer">
                    <div v-if="!isLogined">
                    <button @click="$router.push('/auth/login')">로그인 해주세요.</button>
                </div>
                <div v-if="isLogined">
                    <button @click="$router.push('/campaign/' + $route.params.id + '/apply')">캠페인 신청하기.</button>
                </div>
            </div>
            <div class="web-detail-right-wrap">
                <div class="sticky" v-vue-sticky-directive="{topSpacing:20, bottomSpacing:20}">
                    <div class="top">
                        <div class="img-wrap">
                            <img :src="campaign.imageThumb" />
                        </div>
                        <h2>{{ campaign.title }}</h2>
                        <p>{{ campaign.titleSub }}</p>
                        <div class="label-area">
                            <div class="ng-scope blog">
                                BLOG
                            </div>
                            <div class="ng-scope point">
                                20,000P
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="bold">
                            <div class="title">리뷰어 신청기간</div>
                            <div class="binding">
                                {{ startDate }} ~ {{ endDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">리뷰어 발표</div>
                            <div class="binding">
                                04.05
                            </div>
                        </li>
                        <li>
                            <div class="title">콘텐츠 등록기간</div>
                            <div class="binding">
                                {{ registerStartDate }} ~ {{ registerStartDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">캠페인 결과발표</div>
                            <div class="binding">
                                {{ finalDate }}
                            </div>
                        </li>
                    </ul>
                    <div class="checkbox-wrap">
                        <div class="checkbox">
                            <label class="container">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                                초상권 활용에 동의 합니다.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="container">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                켐페인 유의사항 및 제 3자 제공에 모두 동의합니다.
                            </label>
                        </div>
                    </div>
                    <div class="item">
                        <div v-if="!isLogined">
                            <button @click="$router.push('/auth/login')">로그인 해주세요.</button>
                        </div>
                        <div v-if="isLogined">
                            <button @click="$router.push('/campaign/' + $route.params.id + '/apply')">캠페인 신청하기.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </CampaignTemplate>
</template>

<script lang="ts">
import { CampaignVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import CampaignTemplate from '~/templates/campaign.vue';
import LoadingModal from '~/modals/loading.vue';
import { ApplyForm } from '~/forms/apply-campaign';

@Component({
    components: {
        CampaignTemplate
    }
})
export default class CampaignIdView extends CampaignVue {
    public alreadyApplied:boolean = false;
    public birthYearList = [];

    public form = new ApplyForm();

    mounted() {
        let curYear = 2019;
        this.birthYearList.push({name:'선택하세요.', value:-1});
        for(let i = curYear; i > curYear-100; i--) {
            this.birthYearList.push({name:i+'년', value:i});
        }
        const id: number = parseInt(this.$route.params.id);
        this.singleTons.api.getCampaignById(id).then((data) => {
            this.campaign = data.campaign;
            this.alreadyApplied = data.alreadyApplied;
        console.log('this.campaign = ', this.campaign);
        });
    }

    async apply() {
        try {
            console.log('this.form.data = ', this.form.data);
            let notValid = this.form.getNotValid;
            if (notValid) {
                throw('항목을 확인해주세요.(' + notValid + ')');
            }
            const data = this.form.validData();
            await this.singleTons.api.applyCampaign(this.$route.params.id, data);
            this.$router.push('/campaign/' + this.$route.params.id + '/applicant')
            
        } catch(e) {
            alert(e);
            this.$router.push('/campaign/' + this.$route.params.id + '/applicant');
        }
    }

}
</script>

<style lang="scss" scoped>
.detail-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding: 0 15px;
  @include respond-above(md) {
    width: 1160px;
    height: 100%;
    padding: 0 10px;
  }
  .detail-left-wrap{
      width: 100%;
      padding: 15px 0 0 0;
      @include respond-above(md) {
        width: 800px;
        padding: 40px 40px 100px 0;
        min-height: 700px;
      }
      .top-wrap{
          margin-bottom: 15px;
          @include respond-above(md) {
            margin-bottom: 30px;
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;
          }
          h2{
            font-size: 18px;
            color: #222;
            letter-spacing: -0.6px;
            position: relative;
            margin: 0;
            @include noto-sans-cj-bold;
            line-height: 1;
            @include respond-above(md) {
                font-size: 28px;
                @include noto-sans-cj-medium;
            }
        }
        .mobile-wrap{
            display: block;
            @include respond-above(md) {
                display: none;
            }
            p{
                color: #666;
                font-size: 14px;
                margin: 10px 0;
                @include noto-sans-cj-regular;
                @include respond-above(md) {
                    font-size: 16px;
                }
            }
            .label-area{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .ng-scope{
                    padding: 0 8px;
                    background: none;
                    font-size: 12px;
                    margin: 0;
                    border: 1px solid #000;
                    margin-right: 2px;
                }
                .blog{
                    border-color: #00cdc5;
                    color: #00cdc5;
                    @include noto-sans-cj-bold;
                }
                .point{
                    border-color: #d19cff;
                    color: #8b07ff;
                    @include noto-sans-cj-medium;
                }
                .review{
                    border-color: #ccc;
                    color: #555;
                    @include noto-sans-cj-medium;
                }
            }
        }
      }
    .mobile-line{
        width: calc(100% + 30px);
        height: 8px;
        background-color: #eee;
        margin-left: -15px;
        @include respond-above(md) {
            display: none;
        }
    }
      .campaign-content{
        width: 100%;
        height: auto;
        min-height: auto;
        @include respond-above(md) {
            min-height: 600px;
        }
        .item-detail-table{
            width: 100%;
            margin: 0;
            font-size: 14px;
            display: block;
            &:last-of-type{
                dd{
                    border-bottom: 0;
                }
            }
            @include respond-above(md) {
                display: flex;
                align-items: flex-start;
                font-size: 16px;
                  &:nth-of-type(5){
                    dd{
                        border-bottom: 0;
                    }
                }
            }
            dt{
                width: 160px;
                padding-top: 30px;
                display: block;
                @include noto-sans-cj-bold;
                letter-spacing: 1.42857143;
                font-size: 16px;
                @include respond-above(md) {
                    display: table-cell;
                }
            }
            dd{
                word-break: break-all;
                padding: 10px 0 30px;
                border-bottom: 1px solid #eee;
                overflow: hidden;
                line-height: 24px;
                width: 100%;
                max-width: 100%;
                margin: 0;
                @include respond-above(md) {
                    width: 600px;
                    max-width: 600px;
                    line-height: 26px;
                    padding: 30px 0;

                }
                a{
                    color: #337ab7;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    word-break: break-word;
                }
                p{
                    margin: 0 0 15px 0;
                }
                .form-group{
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 15px;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    .form-label{
                        width: 100px;
                        float: none;
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #222;
                        @include noto-sans-cj-bold;
                        line-height: 40px;
                        padding: 0;
                        letter-spacing: -1px;
                        @include respond-above(md) {
                            padding: 0 0 0 10px;
                            float: left;
                        }
                    }
                    .input-wrap, .select-wrap, .radio-wrap{
                        width: 100%;
                        height: 40px;
                        float: none;
                        display: flex;
                        align-items: center;
                        @include respond-above(md) {
                            float: left;
                            width: 33.333%;
                        }
                        input, select{
                            width: 100%;
                            height: 100%;
                            padding: 9px 12px;
                            border: 1px solid #ccc;
                            color: #555;
                            @include noto-sans-cj-regular;
                            background-color: #fff;
                            outline: none;
                        }
                        .radio{
                            @include base-radio;
                            width: 50%;
                            float: left;
                            margin: 0;
                        }
                    }
                    .long{
                        width: 100%;
                    }
                    .blog-wrap{
                        width: 100%;
                        height: 40px;
                        display: table;
                        input{
                            width: 75%;
                            height: 100%;
                            display: table-cell;
                            border-radius: 0;
                            border: 1px solid #ddd;
                            float: left;
                            padding: 9px 12px;
                            background-color: #fff;
                            color: #555;
                            font-size: 14px;
                            @include noto-sans-cj-regular;
                            outline: none;
                            @include respond-above(md) {
                                width: 85%;
                            }
                        }
                        button{
                            width: 25%;
                            float: left;
                            height: 100%;
                            background-color: #fff;
                            border: 1px solid #ccc;
                            color: #333;
                            font-size: 14px;
                            @include noto-sans-cj-regular;
                            cursor: pointer;
                            @include respond-above(md) {
                                width: 15%;
                            }
                            &:hover{
                                border-color: map-get($colors,pointcolor);
                                color: map-get($colors,pointcolor);
                            }
                        }
                    }
                    .warning{
                        width: 100%;
                        height: auto;
                        color: #c7254e;
                        font-size: 0.85em;
                        margin: 5px 0;
                    }
                    .txt{
                        color: #666;
                        font-size: 14px;
                        @include noto-sans-cj-regular;
                        margin: 10px 0 0 0;
                        line-height: 26px;
                    }
                    .txt2{
                        color: #666;
                        font-size: 14px;
                        @include noto-sans-cj-regular;
                        margin: 10px 0 20px;
                        line-height: 26px;
                    }
                    .apply-wrap{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px 0;
                        p{
                            margin: 0;
                            font-size: 16px;
                            color: #222;
                            @include noto-sans-cj-regular;
                        }
                        .count{
                            color: #999;
                            font-size: 12px;
                            @include noto-sans-cj-regular;
                        }
                    }
                    .textarea-wrap{
                        width: 100%;
                        textarea{
                            width: 100%;
                            border-color: #ddd;
                            background-color: #fff;
                            padding: 9px 12px;
                            outline: none;
                            color: #555;
                            font-size: 14px;
                            @include noto-sans-cj-regular;
                        }
                    }
                    .desc{
                        margin: 10px 0;
                        color: #222;
                        font-size: 14px;
                        @include noto-sans-cj-regular;
                        @include respond-above(md) {
                            font-size: 16px;
                        }
                    }
                }
                .checkbox-wrap{
                    display: block;
                    width: 100%;
                    .checkbox{
                        @include small-checkbox;
                        font-size: 12px;
                        letter-spacing: -0.3px;
                        @include noto-sans-cj-regular;
                        margin-bottom: 10px;
                        color: #222;
                        cursor: point;
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        .checkmark{
                            top: 4.3px;
                        }
                    }
                    @include respond-above(md) {
                        display: none;
                    }              
                }
            }
        }
        .mobile{
            display: block;
            @include respond-above(md) {
                display: none;
            }              
        }
    }
  }
  .web-detail-right-wrap{
      display: none;
      @include respond-above(md) {
        width: 300px;
        position: absolute;
        right: 52px;
        top: 0;
        bottom: 0;
        font-size: 16px;
        letter-spacing: -0.4px;
        z-index: 30;
        border-left: 1px solid #eee;
        padding: 40px 0 40px 40px;
        padding-left: 40px;
        display: block;
        .sticky{
            width: 300px;
            .top{
                width: 100%;
                border-bottom: 1px solid #eee;
                padding-bottom: 14px;
                .img-wrap{
                    width: 100%;
                    min-height: 300px;
                    margin-bottom: 20px;
                    img{
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
                h2{
                    font-size: 20px;
                    color: #222;
                    @include noto-sans-cj-medium;
                    margin: 0;
                }
                p{
                    font-size: 14px;
                    color: #666;
                    margin: 5px 0 10px 0;
                }
                .label-area{
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  .ng-scope{
                      padding: 0 8px;
                      background: none;
                      font-size: 12px;
                      margin: 0;
                      border: 1px solid #000;
                      margin-right: 2px;
                  }
                  .blog{
                      border-color: #00cdc5;
                      color: #00cdc5;
                      @include noto-sans-cj-bold;
                  }
                  .point{
                      border-color: #d19cff;
                      color: #8b07ff;
                      @include noto-sans-cj-medium;
                  }
                }
            }
        }
    }
    ul{
        font-size: 14px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #eee;
        padding: 14px 0;
        li{
            color: #222;
            @include noto-sans-cj-light;
            display: table;
            margin: 0 0 8px 0;
            .title{
                width: 100px;
                display: table-cell;
            }
            .binding{
                width: 130px;
                display: table-cell;
            }
        }
        .bold{
            @include noto-sans-cj-bold;
        }
     }
     .checkbox-wrap{
         width: 100%;
         padding: 14px 0;
         border-bottom: 1px solid #eee;
         .checkbox{
            @include small-checkbox;
            font-size: 12px;
            letter-spacing: -0.3px;
            @include noto-sans-cj-regular;
            margin-bottom: 10px;
            color: #222;
            cursor: point;
            &:last-of-type{
                margin-bottom: 0;
            }
         }
     }
     .item{
         width: 100%;
         border-bottom: 1px solid #eee;
         padding: 14px 0;
         span{
            color: #222;
            @include noto-sans-cj-regular;
            cursor: pointer;
            &:hover{
                color: map-get($colors, pointcolor);
            }
         }
         button{
             width: 100%;
             height: 48px;
             padding: 12px 0 14px;
             font-size: 16px;
             margin: 6px 0 10px;
             border: none;
             color: #fff;
             @include noto-sans-cj-medium;
             background-color: #222;
             cursor: pointer;
         }
         &:last-of-type{
            border-bottom: 0;
         }
     }
      .click{
            color: map-get($colors, pointcolor);
      }
  }
  .mobile-detail-right-wrap{
      border-top: 1px solid #eee;
      padding-top: 15px;
      position: relative;
      display: block;
      @include respond-above(md) {
          display: none;
      }
      ul{
          padding-bottom: 15px;
          min-height: 112px;
          @include noto-sans-cj-regular;
          margin: 0;
          li{
              display: table;
              margin: 0 0 8px 0;
              color: #666;
              .title{
                  font-size: 12px;
                  width: 100px;
                  display: table-cell;
              }
              .binding{
                  font-size: 12px;
                  display: table-cell;
              }
              &:last-of-type{
                  margin-bottom: 0;
              }
          }
          .bold{
              @include noto-sans-cj-bold;
              color: #000;
          }
      }
      .right-img-wrap{
          position: absolute;
          right: 0;
          top: 15px;
          width: 98px;
          height: 98px;
          img{
              width: 100%;
              height: auto;
              object-fit: contain;
          }
      }
  }
  .mobile-footer{
        position: fixed;
        width: 100%;
        height: 56px;
        bottom: 0;
        left: 0;
        background: none;
        z-index: 101;
        display: block;
        @include respond-above(md) {
        display: none;
      }
      div{
          width: calc(100% - 10px);
          height: calc(100% - 10px);
        button{
            width: 100%;
            height: 100%;
            margin: 5px;
            background: #000;
            border: none;
            font-size: 16px;
            @include noto-sans-cj-medium;
            color: #fff;
        }
    }
  }
}
</style>