<template>
    <CampaignTemplate>
        <div slot="detail" class="detail-container">
            <div class="detail-left-wrap">
                <div class="top-wrap">
                    <h2>{{ campaign.title }}</h2>
                    <p>{{ campaign.titleSub }}</p>
                    <div class="label-area">
                        <div class="ng-scope blog">
                            BLOG
                        </div>
                        <div class="ng-scope point">
                            20,000P
                        </div>
                        <div class="ng-scope review">
                            리뷰 2개
                        </div>
                    </div>
                </div>
                <div class="mobile-detail-right-wrap">
                    <ul>
                        <li class="bold">
                            <div class="title">리뷰어 신청기간</div>
                            <div class="binding">
                                {{ startDate }} ~ {{ endDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">리뷰어 발표</div>
                            <div class="binding">
                                04.05
                            </div>
                        </li>
                        <li>
                            <div class="title">콘텐츠 등록기간</div>
                            <div class="binding">
                                {{ registerStartDate }} ~ {{ registerStartDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">캠페인 결과발표</div>
                            <div class="binding">
                                {{ finalDate }}
                            </div>
                        </li>
                    </ul>
                    <div class="right-img-wrap">
                        <img src="https://s3-ap-northeast-1.amazonaws.com/file1.weble.net/campaign/data/210264/thumb200.jpg?bust=1554359711086" alt="" />
                    </div>
                </div>
                <div class="mobile-line"></div>
                <div class="tabs">
                    <div class="tab"><a :href="'/campaign/' + $route.params.id">캠페인 정보</a></div>
                    <div class="tab click"><a :href="'/campaign/' + $route.params.id + '/applicant'">신청자 {{ campaign.applicantnum }}/{{ campaign.recruitNum }}</a></div>
                </div>
                <div class="campaign-content">
                    <ul class="applicants">
                        <li class="applicant-item"
                        v-for="(applicant, index) of applicants"
                        :key="index">
                            <a href="">
                                <img :src="applicant.detailinfo.profileImgUrl" />
                            </a>
                            <div class="right-info">
                                <div class="comment">
                                    {{ applicant.comment }}
                                    <span class="nick">dfd{{ applicant.detailinfo.nickName }}</span>
                                </div>
                            </div>
                        </li>
                        <!-- 더보기 버튼 20개 이상있으면 더보기 버튼 생김 -->
                        <div class="more-btn">
                            <a @click.prevent="showImageDetail()">더보기<img src="../../assets/information/arrow_b.png" alt="" /></a>
                        </div>
                        <!-- 신청한 리뷰어가 없습니다 -->
                        <div class="empty-reviewer">
                            <div class="no-results-found">
                                신청한 리뷰어가 없습니다.
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="mobile-footer">
                    <div v-if="!isLogined">
                    <button @click="$router.push('/auth/login')">로그인 해주세요.</button>
                </div>
                <div v-if="isLogined">
                    <button @click="$router.push('/campaign/' + $route.params.id + '/apply')">캠페인 신청하기.</button>
                </div>
            </div>
            <div class="web-detail-right-wrap">
                <div class="sticky" v-vue-sticky-directive="{topSpacing:20, bottomSpacing:20}">
                    <div class="top">
                        <div class="img-wrap">
                            <img :src="campaign.imageThumb" />
                        </div>
                        <h2>{{ campaign.title }}</h2>
                        <p>{{ campaign.titleSub }}</p>
                        <div class="label-area">
                            <div class="ng-scope blog">
                                BLOG
                            </div>
                            <div class="ng-scope point">
                                20,000P
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="bold">
                            <div class="title">리뷰어 신청기간</div>
                            <div class="binding">
                                {{ startDate }} ~ {{ endDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">리뷰어 발표</div>
                            <div class="binding">
                                04.05
                            </div>
                        </li>
                        <li>
                            <div class="title">콘텐츠 등록기간</div>
                            <div class="binding">
                                {{ registerStartDate }} ~ {{ registerStartDate }}
                            </div>
                        </li>
                        <li>
                            <div class="title">캠페인 결과발표</div>
                            <div class="binding">
                                {{ finalDate }}
                            </div>
                        </li>
                    </ul>
                    <div class="item">
                        <div v-if="!isLogined">
                            <button @click="$router.push('/auth/login')">로그인 해주세요.</button>
                        </div>
                        <div v-if="isLogined">
                            <button @click="$router.push('/campaign/' + $route.params.id + '/apply')">캠페인 신청하기.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </CampaignTemplate>
</template>

<script lang="ts">
import { CampaignVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import CampaignTemplate from '~/templates/campaign.vue';

@Component({
    components: {
        CampaignTemplate
    }
})
export default class ApplicantView extends CampaignVue {
    public applicants = [];
    public alreadyApplied:boolean = false;

    mounted() {
        const id: number = parseInt(this.$route.params.id);
        this.singleTons.api.getCampaignById(id).then((data) => {
            this.campaign = data.campaign;
            this.alreadyApplied = data.alreadyApplied;
        });
        this.singleTons.api.getCampaignApplicants(id).then((applicants) => {
            console.log('applicant = ', applicants);
            for(let i = 0; i < applicants.length; i++) {
                console.log('applicant[i] = ', applicants[i]);
                if(!applicants[i].detailinfo.profileImgUrl) {
                    applicants[i].detailinfo.profileImgUrl = 'http://192.168.0.6/test/img-character.png'
                }
            }
            this.applicants = applicants;
        });
    }
}
</script>

<style lang="scss" scoped>
.detail-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding: 0 15px;
  @include respond-above(md) {
    width: 1160px;
    height: 100%;
    padding: 0 10px;
  }
  .detail-left-wrap{
      width: 100%;
      padding: 15px 0 0 0;
      @include respond-above(md) {
          width: 800px;
          min-height: 700px;
        //   min-height: auto;
          padding: 40px 40px 100px 0;
      }
      .top-wrap{
          margin-bottom: 15px;
          @include respond-above(md) {
            margin-bottom: 30px;
          }
          h2{
            font-size: 18px;
            color: #222;
            letter-spacing: -0.6px;
            position: relative;
            margin: 0;
            @include noto-sans-cj-bold;
            line-height: 1;
            @include respond-above(md) {
                font-size: 28px;
                @include noto-sans-cj-medium;
            }
        }
        p{
            color: #666;
            font-size: 14px;
            margin: 10px 0;
            @include noto-sans-cj-regular;
            @include respond-above(md) {
                font-size: 16px;
            }
        }
        .label-area{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .ng-scope{
                padding: 0 8px;
                background: none;
                font-size: 12px;
                margin: 0;
                border: 1px solid #000;
                margin-right: 2px;
            }
            .blog{
                border-color: #00cdc5;
                color: #00cdc5;
                @include noto-sans-cj-bold;
            }
            .point{
                border-color: #d19cff;
                color: #8b07ff;
                @include noto-sans-cj-medium;
            }
            .review{
                border-color: #ccc;
                color: #555;
                @include noto-sans-cj-medium;
            }
        }
      }
      .mobile-line{
        width: calc(100% + 30px);
        height: 8px;
        background-color: #eee;
        margin-left: -15px;
        @include respond-above(md) {
            display: none;
        }
      }
      .tabs{
          width: 100%;
          height: 52px;
          border-bottom: 1px solid #e8e8e8;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          @include respond-above(md) {
              height: 34px;
          }
          .tab{
            width: 50%;
            height: 100%;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            a{
                color: #777;
                @include noto-sans-cj-regular;
                font-size: 14px;
                @include respond-above(md) {
                    font-size: 16px;
                }
            }
            @include respond-above(md) {
                width: auto;
                margin-right: 40px;
            }
          }
          .click{
                border-bottom: 2px solid map-get($colors, pointcolor);
                a{
                    color: map-get($colors, pointcolor);
                    @include noto-sans-cj-bold;
                }
          }
      }
      .campaign-content{
        width: 100%;
        height: auto;
        @include respond-above(md) {
          min-height: 600px;
        }
          .applicants{
              width: 100%;
              margin: 0;
              .applicant-item{
                  width: 100%;
                  padding: 15px 0;
                  border-bottom: 1px solid #eee;
                  @include respond-above(md) {
                    margin: 0
                  }
                  &:first-of-type{
                      padding-top: 0;
                  }
                  a{
                      width: 55px;
                      float: left;
                        overflow: hidden;
                      img{
                          width: 40px;
                          height: 40px;
                          border-radius: 100%;
                      }
                  }
                  .right-info{
                      padding: 0;
                      font-size: 14px;
                      color: #222;
                      @include noto-sans-cj-regular;
                      margin-left: 55px;
                      .comment{
                          span{
                              display: block;
                              font-size: 12px;
                              margin-top: 10px;
                              color: #666;
                          }
                      }
                  }
              }
              .more-btn{
                  text-align: center;
                  width: 100%;
                  cursor: pointer;
                  margin: 20px 0;
                  a{
                        color: #666;
                        font-size: 14px;
                        border: none;
                        background: none;   
                        margin: 0 auto;
                        width: 100%;
                        img{
                            width: 12px;
                            height: auto;
                            object-fit: contain;
                            margin: 0 0 1px 5px;
                        }
                  }
              }
              .empty-reviewer{
                margin: 80px 0;
                .no-results-found{
                    text-align: center;
                    padding: 100px 50px;
                    color: #999;
                    font-size: 14px;
                    @include noto-sans-cj-regular;
                }
              }
          }
      }
  }
  .web-detail-right-wrap{
      display: none;
      @include respond-above(md) {
        width: 300px;
        position: absolute;
        right: 52px;
        top: 0;
        bottom: 0;
        font-size: 16px;
        letter-spacing: -0.4px;
        z-index: 30;
        border-left: 1px solid #eee;
        padding: 40px 0 40px 40px;
        padding-left: 40px;
        display: block;
        .sticky{
            width: 300px;
            .top{
                width: 100%;
                border-bottom: 1px solid #eee;
                padding-bottom: 14px;
                .img-wrap{
                    width: 100%;
                    min-height: 300px;
                    margin-bottom: 20px;
                    img{
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
                h2{
                    font-size: 20px;
                    color: #222;
                    @include noto-sans-cj-medium;
                    margin: 0;
                }
                p{
                    font-size: 14px;
                    color: #666;
                    margin: 5px 0 10px 0;
                }
                .label-area{
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  .ng-scope{
                      padding: 0 8px;
                      background: none;
                      font-size: 12px;
                      margin: 0;
                      border: 1px solid #000;
                      margin-right: 2px;
                  }
                  .blog{
                      border-color: #00cdc5;
                      color: #00cdc5;
                      @include noto-sans-cj-bold;
                  }
                  .point{
                      border-color: #d19cff;
                      color: #8b07ff;
                      @include noto-sans-cj-medium;
                  }
                }
            }
        }
    }
    ul{
        font-size: 14px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #eee;
        padding: 14px 0;
        li{
            color: #222;
            @include noto-sans-cj-light;
            display: table;
            margin: 0 0 8px 0;
            .title{
                width: 100px;
                display: table-cell;
            }
            .binding{
                width: 130px;
                display: table-cell;
            }
        }
        .bold{
            @include noto-sans-cj-bold;
        }
     }
     .item{
         width: 100%;
         border-bottom: 1px solid #eee;
         padding: 14px 0;
         span{
            color: #222;
            @include noto-sans-cj-regular;
            cursor: pointer;
            &:hover{
                color: map-get($colors, pointcolor);
            }
         }
         button{
             width: 100%;
             height: 48px;
             padding: 12px 0 14px;
             font-size: 16px;
             margin: 6px 0 10px;
             border: none;
             color: #fff;
             @include noto-sans-cj-medium;
             background-color: #222;
             cursor: pointer;
         }
         &:last-of-type{
            border-bottom: 0;
         }
     }
      .click{
            color: map-get($colors, pointcolor);
      }
  }
  .mobile-detail-right-wrap{
      border-top: 1px solid #eee;
      padding-top: 15px;
      position: relative;
      display: block;
      @include respond-above(md) {
          display: none;
      }
      ul{
          padding-bottom: 15px;
          min-height: 112px;
          @include noto-sans-cj-regular;
          margin: 0;
          li{
              display: table;
              margin: 0 0 8px 0;
              color: #666;
              .title{
                  font-size: 12px;
                  width: 100px;
                  display: table-cell;
              }
              .binding{
                  font-size: 12px;
                  display: table-cell;
              }
              &:last-of-type{
                  margin-bottom: 0;
              }
          }
          .bold{
              @include noto-sans-cj-bold;
              color: #000;
          }
      }
      .right-img-wrap{
          position: absolute;
          right: 0;
          top: 15px;
          width: 98px;
          height: 98px;
          img{
              width: 100%;
              height: auto;
              object-fit: contain;
          }
      }
  }
  .mobile-line{
      width: calc(100% + 30px);
      height: 8px;
      background-color: #eee;
      margin-left: -15px;
      @include respond-above(md) {
          display: none;
      }
  }
  .mobile-footer{
        position: fixed;
        width: 100%;
        height: 56px;
        bottom: 0;
        left: 0;
        background: none;
        z-index: 101;
        display: block;
        @include respond-above(md) {
        display: none;
      }
      div{
          width: calc(100% - 10px);
          height: calc(100% - 10px);
        button{
            width: 100%;
            height: 100%;
            margin: 5px;
            background: #000;
            border: none;
            font-size: 16px;
            @include noto-sans-cj-medium;
            color: #fff;
        }
    }
  }
}
</style>