<template>
  <CampaignTemplate>
    <div slot="detail" class="detail-container">
        <div class="detail-left-wrap">
            <div class="top-wrap">
                <h2>{{ campaign.title }}</h2>
                <p>{{ campaign.titleSub }}</p>
                <div class="label-area">
                    <div class="ng-scope blog">
                        BLOG
                    </div>
                    <div class="ng-scope point">
                        20,000P
                    </div>
                </div>
            </div>
            <div class="mobile-detail-right-wrap">
                <ul>
                    <li>
                        <div class="title">리뷰어 신청기간</div>
                        <div class="binding">
                            {{ startDate }} ~ {{ endDate }}
                        </div>
                    </li>
                    <li>
                        <div class="title">리뷰어 발표</div>
                        <div class="binding">
                            04.05
                        </div>
                    </li>
                    <li>
                        <div class="title">콘텐츠 등록기간</div>
                        <div class="binding">
                            {{ registerStartDate }} ~ {{ registerStartDate }}
                        </div>
                    </li>
                    <li>
                        <div class="title">캠페인 결과발표</div>
                        <div class="binding">
                            {{ finalDate }}
                        </div>
                    </li>
                </ul>
                <div class="right-img-wrap">
                    <img src="https://s3-ap-northeast-1.amazonaws.com/file1.weble.net/campaign/data/210264/thumb200.jpg?bust=1554359711086" alt="" />
                </div>
            </div>
            <div class="mobile-line"></div>
            <div class="tabs">
                <div class="tab click"><a href="">캠페인 정보</a></div>
                <div class="tab"><a :href="'/campaign/' + $route.params.id + '/applicant'">신청자 {{ campaign.applicantnum }}/{{ campaign.recruitNum }}</a></div>
            </div>
            <div class="campaign-content">
                <div class="ex-txt">
                    <div class="ex-left">
                        <img src="https://i.pinimg.com/originals/7c/3f/47/7c3f47d8a7097a087b7d46fccdc33a36.jpg" alt="" />
                    </div>
                    <div class="ex-right">
                        <p><strong>위블 기자단 캠페인</strong></p>
                        <div class="txt">
                            직접 제품 및 서비스를 체험하는 형태가 아닌 관련 정보를 소개해주시는 캠페인입니다. 
                            전달드리는 가이드라인과 사진, 동영상 자료를 통해 해당 제품 및 서비스를 멋지게 소개해주세요.
                        </div>
                    </div>
                </div>
                <div class="img-wrap">
                    <div :class="imageDetailClassObj">
                        <img :src="campaign.imageDetail">
                    </div>
                    <div class="more-btn" v-if="imageDetailClassObj['img-hide']">
                       <a @click.prevent="showImageDetail()">상세이미지 더보기<img src="../../assets/information/arrow_b.png" alt="" /></a>
                    </div>
                    <div class="more-btn" v-if="!imageDetailClassObj['img-hide'] && campaign['quickLink'] != ''">
                       <a :href="campaign['quickLink']">상세페이지 더보기</a>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <dl>
                        <dt>
                            <span>제공 내역</span>
                        </dt>
                        <dd>
                            <p class="txt1" v-html="campaign.detailGift"></p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span>검색키워드</span>
                        </dt>
                        <dd>
                            <p class="txt1" v-html="campaign.detailTag"></p><br />
                            <span class="txt2">
                                - 안내해 드린 검색키워드를 <strong>제목</strong>에는 1개 이상 <strong>본문</strong>, <strong>#태그</strong>에는 2개 이상을 선택하여 꼭 넣어주세요.<br />
                                - 단어 및 띄어쓰기를 정확하게 사용해야 하며, 지켜지지 않으면 수정요청이 있을 수 있습니다.
                            </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span>캠페인미션</span>
                        </dt>
                        <dd>
                            <span class="txt2">
                                <strong>선정 후 "가이드"탭에서 이벤트 이미지와 미션 3번에 필요한 배너 확인 부탁드립니다.</strong>
                            </span><br />
                            <p class="txt1" v-html="campaign.detailMission"></p><br />
                            <span class="txt2">
                                # 캠페인미션이 지켜지지 않을 시 수정 요청이 있을 수 있습니다.
                            </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span>추가 안내사항</span>
                        </dt>
                        <dd>
                            <p class="txt1" v-html="campaign.detailGuide"></p><br />
                            <span class="txt2">
                                # 리뷰작성 시 태그 달기부분에 제공드린 키워드 추가 적용 부탁드립니다.
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="mobile-footer">
                <div v-if="!isLogined">
                <button @click="$router.push('/auth/login')">로그인 해주세요.</button>
            </div>
            <div v-if="isLogined">
                <button @click="$router.push('/campaign/' + $route.params.id + '/apply')">캠페인 신청하기.</button>
            </div>
        </div>
        <div class="web-detail-right-wrap">
            <div class="sticky" v-vue-sticky-directive="{topSpacing:20, bottomSpacing:20}">
            <ul>
                <li class="bold">
                    <div class="title">리뷰어 신청기간</div>
                    <div class="binding">
                        {{ startDate }} ~ {{ endDate }}
                    </div>
                </li>
                <li>
                    <div class="title">리뷰어 발표</div>
                    <div class="binding">
                        04.05
                    </div>
                </li>
                <li>
                    <div class="title">콘텐츠 등록기간</div>
                    <div class="binding">
                        {{ registerStartDate }} ~ {{ registerStartDate }}
                    </div>
                </li>
                <li>
                    <div class="title">캠페인 결과발표</div>
                    <div class="binding">
                        {{ finalDate }}
                    </div>
                </li>
            </ul>
            <div class="item"><span>제공내역</span></div>
            <div class="item"><span>검색 키워드</span></div>
            <div class="item"><span>캠페인 미션</span></div>
            <div class="item"><span>추가 안내 사항</span></div>
            <div class="item">
                 <div v-if="!isLogined">
                    <button @click="$router.push('/auth/login')">로그인 해주세요.</button>
                </div>
                <div v-if="isLogined">
                    <button @click="$router.push('/campaign/' + $route.params.id + '/apply')">캠페인 신청하기.</button>
                </div>
            </div>
            </div>
        </div>
    </div>
  </CampaignTemplate>
</template>

<script lang="ts">
import { CampaignVue } from "~/models/vue";
import { Component } from "vue-property-decorator";
import CampaignTemplate from "~/templates/campaign.vue";
import LoadingModal from "~/modals/loading.vue";
import VueStickyDirective from "@renatodeleao/vue-sticky-directive";

@Component({
  components: {
    CampaignTemplate
  },
  directives: {
    VueStickyDirective
  }
})
export default class CampaignIdView extends CampaignVue {
  public imageDetailClassObj = {
      img: true,
      'img-hide': true
  }

  mounted() {
    const id: number = parseInt(this.$route.params.id);
    this.singleTons.api.getCampaignById(id).then((data) => {
        this.campaign = data.campaign;
    });
  }
  showImageDetail() {
      console.log('showImageDetail');
      console.log('quickLink = ', this.campaign['quickLink']);
      this.imageDetailClassObj['img-hide'] = false;
  }
}
</script>

<style lang="scss" scoped>
.detail-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding: 0 15px;
  @include respond-above(md) {
    width: 1160px;
    padding: 0 10px;
  }
  .detail-left-wrap{
      width: 100%;
      padding: 15px 0 0 0;
      min-height: 700px;
      @include respond-above(md) {
          width: 800px;
          min-height: auto;
          padding: 40px 40px 100px 0;
      }
      .top-wrap{
          margin-bottom: 15px;
          @include respond-above(md) {
            margin-bottom: 30px;
          }
          h2{
            font-size: 18px;
            color: #222;
            letter-spacing: -0.6px;
            position: relative;
            margin: 0;
            @include noto-sans-cj-bold;
            line-height: 1;
            @include respond-above(md) {
                font-size: 28px;
                @include noto-sans-cj-medium;
            }
          }
          p{
            color: #666;
            font-size: 14px;
            margin: 10px 0;
            @include noto-sans-cj-regular;
            @include respond-above(md) {
                font-size: 16px;
            }
          }
          .label-area{
              display: flex;
              align-items: center;
              justify-content: flex-start;
              .ng-scope{
                  padding: 0 8px;
                  background: none;
                  font-size: 12px;
                  margin: 0;
                  border: 1px solid #000;
                  margin-right: 2px;
              }
              .blog{
                  border-color: #00cdc5;
                  color: #00cdc5;
                  @include noto-sans-cj-bold;
              }
              .point{
                  border-color: #d19cff;
                  color: #8b07ff;
                  @include noto-sans-cj-medium;
              }
          }
      }
      .tabs{
          width: 100%;
          height: 50px;
          border-bottom: 1px solid #e8e8e8;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          @include respond-above(md) {
              height: 34px;
          }
          .tab{
            width: 50%;
            height: 100%;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            a{
                color: #777;
                @include noto-sans-cj-regular;
                font-size: 14px;
                @include respond-above(md) {
                    font-size: 16px;
                }
            }
            @include respond-above(md) {
                width: auto;
                margin-right: 40px;
            }
          }
          .click{
                border-bottom: 2px solid map-get($colors, pointcolor);
                a{
                    color: map-get($colors, pointcolor);
                    @include noto-sans-cj-bold;
                }
          }
      }
      .campaign-content{
          min-height: 600px;
          .ex-txt{
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              margin-bottom: 30px;
              .ex-left{
                  width: 105px;
                  height: auto;
                  margin-right: 15px;
                  @include respond-above(md) {
                    width: 127px;
                    margin-right: 20px;
                  }
                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
              }
              .ex-right{
                  p{
                      font-size: 14px;
                      color: #555;
                      margin: 0 0 5px 0;
                      @include noto-sans-cj-medium;
                      @include respond-above(md) {
                        font-size: 18px;
                        margin: 0 0 10px 0;
                      }
                  }
                  .txt{
                        color: #666;
                        font-size: 11px;
                        letter-spacing: -0.4px;
                        line-height: 16px;
                        margin: 0;
                      @include respond-above(md) {
                        font-size: 14px;
                        letter-spacing: -0.2px;
                        line-height: 20px;
                        margin: 10px 0;
                      }
                  }
              }
          }
          .img-wrap{
              .img{
                width: 100%;
                height: auto;
                overflow: hidden;
                img{
                    width: 100%;
                }
              }
              .img-hide {
                  height: 760px;
              }
              .more-btn{
                  border-top: 1px solid #ddd;
                  border-bottom: 1px solid #ddd;
                  padding: 12px 0;
                  text-align: center;
                  width: 100%;
                  margin-top: 20px;
                  cursor: pointer;
                  a{
                      color: #666;
                        font-size: 14px;
                        border: none;
                        background: none;   
                        margin: 0 auto;
                        width: 100%;
                        img{
                            width: 12px;
                            height: auto;
                            object-fit: contain;
                            margin: 0 0 1px 5px;
                        }
                  }
              }
          }
          .bottom-wrap{
              dl{
                display: table;
                margin: 0;
                width: 100%;
                min-width: 100%;
                max-width: 100%;;
                font-size: 14px;
                @include respond-above(md) {
                    font-size: 16px;
                }
                  dt{
                      width: 160px;
                      display: block;
                      padding-top: 30px;
                      color: #222;
                      letter-spacing: -0.2px;
                      @include noto-sans-cj-bold;
                      @include respond-above(md) {
                        display: table-cell;

                      }
                  }
                  dd{
                        word-break: break-all;
                        border-bottom: 1px solid #eee;
                        width: auto;
                        overflow: hidden;
                        padding: 10px 0 30px;
                        margin: 0;
                        @include respond-above(md) {
                            width: 600px;
                            padding: 30px 0;
                        }
                        .txt1{
                            line-height: 26px;
                            color: #222;
                            @include noto-sans-cj-regular;
                            margin: 0;
                        }
                  }
                  &:last-of-type{
                      dd{
                          border-bottom: 0;
                      }
                  }
              }
          }
      }
  }
  .web-detail-right-wrap{
      display: none;
      @include respond-above(md) {
        width: 350px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 16px;
        letter-spacing: -0.4px;
        z-index: 30;
        border-left: 1px solid #eee;
        padding: 0px 0 40px 40px;
        margin: 40px 0;
        display: block;
    }
    ul{
        font-size: 14px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 14px;
        li{
            color: #222;
            @include noto-sans-cj-light;
            display: table;
            margin: 0 0 8px 0;
            .title{
                width: 100px;
                display: table-cell;
            }
            .binding{
                width: 130px;
                display: table-cell;
            }
        }
        .bold{
            @include noto-sans-cj-bold;
        }
     }
     .item{
         width: 100%;
         border-bottom: 1px solid #eee;
         padding: 14px 0;
         span{
            color: #222;
            @include noto-sans-cj-regular;
            cursor: pointer;
            &:hover{
                color: map-get($colors, pointcolor);
            }
         }
         button{
             width: 100%;
             height: 48px;
             padding: 12px 0 14px;
             font-size: 16px;
             margin: 20px 0 10px;
             border: none;
             color: #fff;
             @include noto-sans-cj-medium;
             background-color: #222;
             cursor: pointer;
         }
         &:last-of-type{
            border-bottom: 0;
         }
     }
      .click{
            color: map-get($colors, pointcolor);
      }
  }
  .mobile-detail-right-wrap{
      border-top: 1px solid #eee;
      padding-top: 15px;
      position: relative;
      @include respond-above(md) {
          display: none;
      }
      ul{
          padding-bottom: 15px;
          min-height: 112px;
          @include noto-sans-cj-regular;
          margin: 0;
          li{
              display: table;
              margin-bottom: 8px;
              color: #666;
              .title{
                  font-size: 12px;
                  width: 100px;
                  display: table-cell;
              }
              .binding{
                  font-size: 12px;
                //   width: 130px;
                  display: table-cell;
              }
              &:last-of-type{
                  margin-bottom: 0;
              }
          }
      }
      .right-img-wrap{
          position: absolute;
          right: 0;
          top: 15px;
          width: 98px;
          height: 98px;
          img{
              width: 100%;
              height: auto;
              object-fit: contain;
          }
      }
  }
  .mobile-line{
      width: calc(100% + 30px);
      height: 8px;
      background-color: #eee;
      margin-left: -15px;
      @include respond-above(md) {
          display: none;
      }
  }
  .mobile-footer{
        position: fixed;
        width: 100%;
        height: 56px;
        bottom: 0;
        left: 0;
        background: none;
        z-index: 101;
        // border-top: 1px solid #eee;
        display: block;
        @include respond-above(md) {
        display: none;
      }
      div{
          width: calc(100% - 10px);
          height: calc(100% - 10px);
        button{
            width: 100%;
            height: 100%;
            margin: 5px;
            background: #000;
            border: none;
            font-size: 16px;
            @include noto-sans-cj-medium;
            color: #fff;
        }
    }
  }
}
</style>