<template>
    <router-view />
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class AuthView extends BaseVue {

}
</script>

<style lang="scss" scoped>
    
</style>