<template>
    <div class="modal-container">
        <div class="modal-back" @click="cancel"></div>
        <div class="modal-content">
            <div class="inner">
                <iframe src="https://public.weneepl.com/contracts/ticket-buy-privacy.html" frameborder="0"></iframe>
            </div>
        </div> 
    </div>
</template>

<script lang="ts">
import { ModalVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class Privacy extends ModalVue {
    
    public cancel(): void {
        this.destroy(null);
    }
}
</script>

<style lang="scss" scoped>
.modal-content {
    width: 90%;
    height: 70%;
    background-color: map-get($colors, primary200);
    padding: 20px;
    @include respond-above(md) {
        width: 500px;
    }
    .inner {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
</style>

