<template>
  <BaseTemplate>
    <div slot="content">
      <div class="section home-section">
        <h1 v-if="singleTons.auth.user['nickName'] == undefined">
          <strong>고객</strong>님을 위한 추천 아이템!
        </h1>
        <div class="hotitem_inner">
          <ul class="hotitem_ul">
            <li
              class="hot-item-li"
              v-for="(item, index) of hotItems"
              :key="index"
              @click="goCategoryPage(item._id)"
            >
              <div class="crop-img item-thumbnail">
                <img :src="item.imageThumb" alt>
              </div>
              <div>
								<div v-if="item.snsType=='instagram'" class="hot-instaicon">INSTAGRAM</div>
								<div class="row">
									<div v-if="item.snsType='blog'" class="hot-blogicon">BLOG</div>
									<div class="hot-remain">{{ item.remainDate }}일 남음</div>
								</div>
                <div class="hot-title">{{ item.title }}</div>
                <div class="hot-term">{{ item.titleSub }}</div>
                <div class="hot-recruit"><span>{{ item.curApply }}</span> / {{ item.recruitNum }}명</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </BaseTemplate>
</template>

<script lang="ts">
import { BaseVue } from "~/models/vue.ts";
import TermModal from "~/modals/term.vue";
import { Component } from "vue-property-decorator";
import BaseTemplate from "~/templates/base.vue";

@Component({
  components: {
    BaseTemplate
  }
})
export default class HomeView extends BaseVue {
  public msg: String = "Welcome111 to Your Vue.js App";
  public hotItems: any[] = [];

  mounted() {
    this.singleTons.api
      .getCurrentHotItems()
      .then((items: any[]) => {
        this.hotItems = items;
        console.log("핫 아이템", this.hotItems);
      })
      .catch(err => {});
  }

  public openTerm(): void {
    console.log("openTerm");
    this.$modal.open(TermModal, {}, "");
  }

  public goCategoryPage(id: any) {
	console.log("id : ", id);
	this.$router.push(`/campaign/${id}`);
  }
}
</script>

<style lang="scss" scoped>
.home-section {
	width: 100%;
	padding: 0 10px;
	@include respond-above(md) {
		padding: 0 60px;
	}
	h1{
		margin: 30px 0 15px 5px;
		@include noto-sans-cj-medium;
		font-size: 18px;
		letter-spacing: -0.5px;
		@include respond-above(md) {
			margin: 60px 0 10px;
			font-size: 26px;
			letter-spacing: 0;
		}
		strong{
			color: map-get($colors, pointcolor);
			@include noto-sans-cj-bold;
		}
	}
	.hotitem_inner {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		@include respond-above(md) {
			flex-direction: row;
			justify-content: space-around;
		}
		.hotitem_ul{
			margin: 0;
			.hot-item-li {
				width: calc(100% / 2 - 10px);
				vertical-align: top;
				align-items: center;
				cursor: pointer;
				margin: 0 5px 10px;
				&:last-of-type {
					border-bottom: none;
				}
				@media (min-width: 1024px) {
					width: calc(100% / 4 - 20px);
				}
				@media (min-width: 1280px) {
					width: calc(100% / 5 - 20px);
				}
				@media (min-width: 1600px) {
					width: calc(100% / 6 - 20px);
				}
				@media (min-width: 1920px) {
					width: calc(100% / 7 - 20px);
				}
				@include respond-above(md) {
					margin: 10px;
					transition: all .4s;
					align-items: center;
					flex-direction: column;
					border-bottom: none;
				}
				.item-thumbnail {
					width: 100%;
					height: 100%;
					border-radius: 5px;
					@include respond-above(md) {
						width: 100%;
						height: 100%;
						margin-right: 0;
					}
				}
				.row{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					@include noto-sans-cj-medium;
					font-size: 13px;
					.hot-blogicon{
						color: #00cdc5;
					}
					.hot-remain{
						color: #222;
						margin-left: 6px;
					}
				}
				.hot-title {
					@include noto-sans-cj-medium;
					font-size: 1.7rem;
					color: #222;
					@include respond-above(md) {
						text-align: left;
						font-size: 16px;
						@include noto-sans-cj-regular;
						padding: 5px 0 0;
						overflow: hidden;
						white-space: normal;
						word-wrap: break-word;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						max-width: 100%;
						line-height: 22px;
					}
				}
				.hot-term {
					@include noto-sans-cj-regular;
					font-size: 1.5rem;
					color: #888;
						@include respond-above(md) {
						text-align: left;
						font-size: 12px;
						@include noto-sans-cj-regular;
						margin-top: 5px;
						letter-spacing: -0.3px;
						line-height: 1;
					}
				}
				.hot-recruit{
					margin: 15px 0 8px;
					font-size: 11px;
					@include noto-sans-cj-regular;
					color: #888;
					span{
						color: #333;
					}
				}
			}
		}
	}
}
</style>
