<template>
    <div class="not-found-page">
        <img src="../assets/logo/logo.png" alt="" @click="$router.push('/')"/>
        <div class="inner-w" @click="$router.push('/')">
            <span class="code">404</span>
            <span class="desc">The requested path cound not be found</span>
        </div>
        <div class="inner-m" @click="$router.push('/')">
            <span class="code">404</span>
            <span class="desc">The requested path cound not be found</span>
        </div>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class NotfoundView extends BaseVue {

}
</script>

<style lang="scss" scoped>
.not-found-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        width: 50%;
        margin-bottom: 10px;
        cursor: pointer;
        @include respond-above(md) {
            width: 300px;
            margin-bottom: 50px;
        }
    }
    .inner-w {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        cursor: pointer;
        @include respond-above(md) {
            display: flex;
        }
        .code {
            @include noto-sans-cj-medium;
            font-size: 2rem;
            padding: 0 3% 0 3%;
            border-right: 3px solid #cccccc;
        }
        .desc {
            font-size: 1.6rem;
            padding: 0 3% 0 3%;
        }
    }
    .inner-m {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        @include respond-above(md) {
            display: none;
        }
        .code {
            font-size: 2rem;
            margin-bottom: 20px;
        }
        .desc {
            font-size: 1rem;
        }
    }
}
</style>