<template>
    <div class="banner">
        <div style="cursor: pointer;" class="custom-container crop-img" @click="$router.push('notice')">
            <!-- <img src="../assets/main-banner.png" alt="" /> -->
        </div>
    </div>
</template>

<script lang="ts">
export default {
    
}
</script>

<style lang="scss" scoped>
.banner {
    width: 100%;
    height: 133px;
    display: flex;
    background-image: linear-gradient( 90deg, #b5e9f8 20%, #8bddea 50%);
    @include respond-above(md) {
        height: 358px;
    }
}
</style>