<template>
    <div class="base-content">
        <slot name="content" />
    </div>
</template>

<script lang="ts">
import { BaseVue } from './../models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class Content extends BaseVue {
}
</script>

<style lang="scss" scoped>
.base-content {
    width: 100%;
    // height: $m-content-height;
    background: map-get($colors, background);
    // overflow-y: scroll;
    @include respond-above(md) {
        // height: $w-content-height;
    }
}
</style>