<template>
    <div class="m-footer">
        <div class="row">
            <div class="col-md-9">
                <h1 class="logo" @click="$router.push('/home')">
                    <img src="../assets/logo/logo.png" alt="" />
                </h1>
                <ul class="ver-menu">
                    <li>(주)위니플</li>
                    <li>대표이사: 현능호</li>
                    <li>개인정보 보호 최고책임자: 백송현</li>
                </ul>
                <ul class="ver-menu">
                    <li>사업자등록번호: 132-86-35187</li>
                    <li>통신판매업신고번호 제2018-서울강남-01123호</li>
                    <!-- <li style="cursor: pointer;" @click="openBuisness">사업자정보확인</li> -->
                </ul>
                <ul class="ver-menu">
                    <li>주소: 서울 특별시 강남구 테헤란로34길 21-6 벧엘빌딩 3F</li>
                </ul>
                <ul class="ver-menu">
                    <li>대표번호: 070-8822-9363</li>
                </ul>
                <div class="copy-right">
                    Copyright ⓒ 2019 weneepl All Rights Reserved
                </div>
            </div>
        </div>
        <div class="quick-menu">
            <ul>
                <li>위블소개</li>
                <li @click="openTerm">이용약관</li>
                <li @click="openPrivacy">개인정보처리방침</li>
                <li>운영정책</li>
                <li class="split"></li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import TermModal from '~/modals/term.vue';
import PrivacyModal from '~/modals/privacy.vue';

@Component({})
export default class MFooter extends BaseVue {

    public openBuisness(): void {
        window.open('http://www.ftc.go.kr/www/bizCommList.do?key=232');
    }

    public openTerm(): void {
        this.$modal.open(TermModal, {}, '');
    }

    public openPrivacy(): void {
        this.$modal.open(PrivacyModal, {}, '');
    }
}
</script>

<style lang="scss" scoped>
.m-footer {
    width: 100%;
    padding: 30px 0 0;
    border-top: 8px solid #eee;
    background-color: map-get($colors, footerBack);
    margin-bottom: 60px;
    .row{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 0 0 0 15px;
        .col-md-9{
            padding: 0;
            width: 100%;
            float: left;
            h1{
                margin: 0 0 10px;
                cursor: pointer;
                font-size: 26px;
                line-height: 1;
                img{
                    width:80px;
                    height: auto;
                    object-fit: contain;
                }
            }
            .ver-menu{
                margin: 0;
                line-height: 1.67;
                li{
                    font-size: 11px;
                    color: #666;
                    letter-spacing: -0.28px;
                    @include noto-sans-cj-regular;
                    position: relative;
                    margin: 0 7px 0 0;
                    cursor: pointer;
                    &:after{
                      content: '';
                      width: 1px;
                      height: 70%;
                      background-color: #ddd;  
                      position: absolute;
                      right: -6.5px;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                    &:last-of-type{
                        &:after{
                            display: none;
                        }
                    }
                }
                &:last-of-type{
                    margin-bottom: 10px;
                }
            }
            .copy-right{
                font-size: 12px;
                @include noto-sans-cj-medium;
                color: #222;
                letter-spacing: -0.4px;
                margin-bottom: 10px;
            }
        }
    }
    .quick-menu{
        // width: calc(100% - 30px);
        width: 100%;
        border-top: 1px solid #eee;
        padding: 15px 15px;
        margin-top: 10px;
        line-height: 1;
        ul{
            margin: 0;
            li{
                color: #666;
                font-size: 12px;
                margin: 0 10px;
                cursor: pointer;
                &:first-of-type{
                    margin-left: 0;
                }
            }
        }
    }
}
</style>