<template>
    <div class="m-footerbar">
        <ul>
            <li class="ng-scope">
                홈
            </li>
            <li class="ng-scope">
                카테고리
            </li>
            <li class="ng-scope">
                커뮤니티
            </li>
            <li class="ng-scope">
                1:1문의
            </li>
            <li class="ng-scope">
                마이페이지
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class MFooterBar extends BaseVue {
}


</script>
<style lang="scss" scoped>
.m-footerbar {
    display: block;
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: all, 0.3s;
    border-top: 1px solid #ccc;
    z-index: 100;
    ul{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        .ng-scope{
            width: calc(100% / 5);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin: 0;
            font-size: 12px;
            color: #444;
            @include noto-sans-cj-regular;
            cursor: pointer;
        }
        .active{
            color: map-get($colors, pointcolor);
            @include noto-sans-cj-bold;
        }
    }
    @include respond-above(md) {
        display: none;
    }
}
</style>