<template>
    <div class="m-header">
        <button class="menu">
            <i class="fas fa-bars" @click="openSidebar"></i>
        </button>
        <!-- <span class="transform-center m-header-title" @click="$router.push('/home')">티켓바이</span> -->
        <h1 class="logo transform-center" @click="$router.push('/home')">
            <img src="../assets/logo/logo.png" alt="" />
        </h1>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class MHeader extends BaseVue {

    public openSidebar(): void {
        console.log('openSidebar!');
        this.singleTons.layout.sidebarShow();
    }
}
</script>

<style lang="scss" scoped>
.m-header {
    // width: calc(100% - 4%);
    width: 100%;
    height: $m-header-height;
    padding: 0 2%;
    background-color: #ffffff;
    border-bottom: 1px solid map-get($colors, divider);
    position: relative;
    top: 0;
    left: 0;
    .menu{
        width: 10%;
        height: 100%;
        background-color: transparent;
        border: 0;
        i{
            font-size: 2rem;
            color: #000;
        }
    }
    h1{
        height: 100%;
        float: left;
        margin: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        img{
            width: auto;
            height: 30px;
            object-fit: contain;
        }
    }
}
</style>