<template>
    <div class="m-sub-title">
        <div class="m-sub-inner">
            <i class="fas fa-arrow-left" @click="back()"></i>
            <span class="transform-center">{{ title }}</span>
        </div>
    </div>
</template>

<script lang="ts">
import { BaseVue } from './../models/vue';
import { Component, Prop } from 'vue-property-decorator';

@Component({})
export default class MSubTitle extends BaseVue {

    @Prop({ default: '' })
    title: string

    public back() {
        this.$router.back();
    }
}
</script>

<style lang="scss" scoped>
.m-sub-title {
    width: 100%;
    height: $m-sub-header-height;
    background-image: map-get($colors, subHeadBackgroundImage);
    padding: 3%;
    display: flex;
    align-items: center;
    position: relative;
    color: #ffffff;
    display: none !important;
    i {
        font-size: 1.5rem;
    }
    span {
        @include noto-sans-cj-regular;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.m-sub-inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
</style>