<template>
    <div class="mypage-side">
        <ul class="sidebar-menu">
            <li><button class="click" @click="goAccount">내 정보</button></li>
            <li><button @click="goMyCampaign">나의 캠페인</button></li>
            <li><button @click="goMyPoint">나의 포인트</button></li>
            <li><button @click="goContact">1:1문의하기</button></li>
        </ul>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';


@Component({})
export default class MyPageSide extends BaseVue {
    public goAccount(): void {
    }
    public goMyCampaign(): void {
    }
    public goMyPoint(): void {
    }
    public goContact(): void {
    }
}
</script>

<style lang="scss" scoped>

.mypage-side{
    width: 100%;
    height: 100%;
    min-height: 563px;
    ul {
        margin: 0;
        width: 100%;
        height: 100%;
        li {
            width: 100%;
            height: 50px;
            margin: 0;
            display: block;
            button {
                width: 100%;
                height: 100%;
                color: #222;
                font-size: 16px;
                @include noto-sans-cj-regular;
                @include base-btn;
                background-color: #fff;
                border-bottom: 1px solid #eee;
                text-align: left;
            }
            .click{
                color: map-get($colors,pointcolor);
                @include noto-sans-cj-bold;
            }
        }
    }
}
</style>