<template>
    <div id="sidebar" class="sidebar-wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <i class="fas fa-times" @click="cancel"></i>
            </div>
            <div class="sidebar-settings">
                <button v-if="!isLogined" @click="goLogin">로그인</button>
                <button v-if="isLogined" @click="goRegister">판매등록</button>
                <button v-if="isLogined" @click="goMypage">마이페이지</button>
                <button v-if="isLogined" @click="logout">로그아웃</button>
            </div>
            <div class="sidebar-divider">카테고리</div>
            <div class="sidebar-divider">기타</div>
            <div class="etc" @click="goEtcPage('/notice')">
                공지사항
            </div>
        </div>
        <div class="sidebar-back" @click="cancel"></div>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class sidebar extends BaseVue {
    
    public items = [];
    get isLogined(): boolean { return this.singleTons.auth.isLogined; }

    async mounted() {
        try {
            const items = await this.singleTons.api.getAllCategories();
            items.forEach((item) => {
                const tempItem: any = {...item, open: false};
                this.items.push(tempItem);
            });
        } catch(e) {
            this.items = [];
        }
    }

    public goLogin(): void {
        this.cancel();
        this.$router.push('/auth/login');
    }

    public goCategoryPage(id: number) {
        this.cancel();
        this.$router.push(`/category/${id}`);
    }

    public async logout() {
        await this.singleTons.auth.logout();
        this.singleTons.layout.sidebarClose();
        this.$router.push('/home');
    }

    public goRegister(): void {
        this.cancel();
        this.$router.push('/register');
    }

    public goMypage(): void {
        this.cancel();
        this.$router.push('/setting/mypage');
    }

    public goEtcPage(route: string): void {
        this.cancel();
        this.$router.push(route);
    }

    public cancel(): void {
        this.items.forEach((item) => { item.open = false; });
        this.singleTons.layout.sidebarClose();
    }

}
</script>

<style lang="scss" scoped>
// .sidedd {
//     left: 0 !important;
// }
button {
    @include base-btn;
}
.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    height: 100%;
    width: 100%;
    display: none;
    // transition: all 1s;
    // left: -100%;
    .sidebar {
        width: 85%;
        min-width: 280px;
        background-color: #ffffff;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
        position: relative;
        .sidebar-header {
            width: 100%;
            height: $m-header-height;
            background-color: map-get($colors, primary200);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 3%;
            font-size: 2rem;
            color: #ffffff;
        }
        .sidebar-divider {
            width: 100%;
            // height: 10px;
            padding: 5px 3%;
            font-size: 1.3rem;
            @include noto-sans-cj-regular;
            background-color: map-get($colors, divider);
            color: #455A64;
        }
        .sidebar-settings {
            width: 100%;
            padding: 10px 3%;
            button {
                font-size: 1.5rem;
                @include noto-sans-cj-medium;
                padding: 5px;
                border-radius: 5px;
                margin-right: 10px;
                background-color: map-get($colors, primary400);
                color: #ffffff;
            }
        }
        .main-category {
            width: 100%;
            .top-item {
                width: 100%;
                padding: 10px 3%;
                @include noto-sans-cj-medium;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid map-get($colors, divider);
                font-size: 1.5rem;
            }
            .sub-item {
                width: 100%;
                padding: 10px 3%;
                background-color: #ECEFF1;
                // border-bottom: 1px solid #000000;
                border-bottom: 1px solid map-get($colors, divider);
                @include noto-sans-cj-regular;
                font-size: 1.3rem;
                color: #455A64;
            }
        }
        .etc {
            width: 100%;
            @include noto-sans-cj-regular;
            display: flex;
            align-items: center;
            padding: 10px 3%;
            font-size: 1.5rem;
            border-bottom: 1px solid map-get($colors, divider);
        }
    }
    .sidebar-back {
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.2;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        font-size: 2rem;
    }
}
</style>