<template>
    <div class="__progress" :style="style"></div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class TopProgress extends Vue {
    
    private percent: number = 0;
    private cut: number = 1;
    private timer = null;
    private isShow: boolean = true;

    get style(): Object {
        let style = {
            'position': 'absolute',
            'background-color': '#736EFE',
            'left': 0,
            'height': '5px',
            'transition': 'opacity 0.3s',
        };
        style['width']  = `${this.percent}%`;
        style['opacity'] = this.isShow ? 1 : 0;
        return style;
    }

    public start(time): void {
        clearInterval(this.timer);
        this.cut = 10000 / Math.floor(time);
        this.percent = 0;
        this.isShow = true;
        this.timer = setInterval(() => {
            this.increae(this.cut);
            if (this.percent > 95) {
                this.finish();
            }
        }, 100);
    }

    private increae(num: number): void {
        this.percent = Math.min(99, this.percent + Math.floor(num));
    }

    public finish(): void {
        this.percent = 100;
        this.hide();
    }

    private hide(): void {
        clearInterval(this.timer);
        this.timer = null;
        setTimeout(() => {
            this.isShow = false;
        }, 100);
    }
}
</script>

<style lang="scss" scoped>
.__progress {
    opacity: 1;
    z-index: 999999;
}
</style>