<template>
    <div class="w-category-sub-header">
        <div class="custom-container">
            <!-- <div class="title">{{ mainTitle }}</div>
            <div class="title">{{ subTitle }}</div> -->
            <div class="title">{{ subTitle }}</div>
            <div class="sub-title">
                <span>{{ mainTitle }}</span>|
                <span>{{ subTitle }}</span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component, Prop } from 'vue-property-decorator';

@Component({})
export default class WCategorySubHeader extends BaseVue {
    
    @Prop({ default: '' })
    mainTitle: string;

    @Prop({ default: ''})
    subTitle: string;
}
</script>

<style lang="scss" scoped>
.w-category-sub-header {
    width: 100%;
    height: $w-sub-header-height;
    background-image: map-get($colors, subHeadBackgroundImage);
    .custom-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .title {
        color: #ffffff;
        @include noto-sans-cj-bold;
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .sub-title {
        color: #ffffff;
        @include noto-sans-cj-medium;
        font-size: 2rem;
        span {
            padding-right: 10px;
            position: relative;
            &:last-of-type {
                padding: 0;
            }
        }
    }
    // .title {
    //     color: #ffffff;
    //     @include noto-sans-cj-bold;
    //     padding: 10px 15px;
    //     font-size: 1.5rem;
    //     border-bottom: 1px solid #ffffff;
    //     border-right: 1px solid #ffffff;
    //     border-left: 1px solid #ffffff;
    //     height: 50px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     &:last-of-type {
    //         border-left: none;
    //     }
    // }
}
</style>