<template>
    <div class="w-header">
        <div class="top-items left">
            <h1 class="logo" @click="$router.push('/home')">
                <img src="../assets/logo/logo.png" alt="" />
            </h1>
            <ul class="menu_wrap">
                <li class="bttn withlogo" @click="$router.push('/auth/login')">서비스</li>
                <li class="bttn withlogo" @click="$router.push('/auth/login')">기자단</li>
            </ul>
        </div>
        <div class="top-items right">
            <span v-if="!isLogined" class="bttn" @click="$router.push('/auth/login')">로그인</span>
            <span v-if="!isLogined" class="bttn" @click="$router.push('/auth/signup')">회원가입</span>
            <span v-if="isLogined" class="bttn" @click="$router.push('/mypage/account')">마이페이지</span>
            <span v-if="isLogined" class="bttn" @click="logout">로그아웃</span>
        </div>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';

@Component({})
export default class WHeader extends BaseVue {

    public items: any[] = [];
    public showSub: boolean = false;
    public subItems: any[] = [];
    public selectMainId: number = -1;
    get isLogined(): boolean { return this.singleTons.auth.isLogined; }

    async mounted() {
        try {
            const items: any[] = await this.singleTons.api.getAllCategories();
            items.forEach((item) => {
                const tempItem = {...item};
                this.items.push(tempItem);
            });
            this.subItems = this.items[0].sub;
        } catch(e) {
            this.items = [];
        }
    }


    public async logout() {
        await this.singleTons.auth.logout();
        this.$router.push('/home');
    }
}
</script>

<style lang="scss" scoped>
.w-header {
    width: 100%;
    height: $w-header-height;
    position: relative;
    z-index: 100;
    padding: 0 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    .top-items{
        display: inline-block;
        height: 100%;
        h1{
            height: 100%;
            float: left;
            margin: 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                width: 120px;
                height: auto;
                object-fit: contain;
            }
        }
        .menu_wrap{
            float: left;
            margin: 0;
            height: 100%;
            margin-left: 20px;
            li{
                cursor: pointer;
                letter-spacing: -0.3px;
                font-size: 16px;
                margin: 0 25px 0 0;
                color:#222;
                padding: 0;
                @include noto-sans-cj-medium;
                display: flex;
                align-items: center;
                &:last-of-type{
                    margin-right: 0;
                }
                &:hover{
                    color: map-get($colors, pointcolor);
                    @include noto-sans-cj-bold;
                }
            }
            .click{
                color: map-get($colors, pointcolor);
                @include noto-sans-cj-bold;
            }
        }
        .bttn{
            display: flex;
            align-items: center;
            float: left;
            height: 100%;
            padding: 0 9px;
            color: #222;
            cursor: pointer;
            @include noto-sans-cj-regular;
        }
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}
</style>