<template>
    <div class="w-sub-header">
        <div class="inner">
            <div class="sub-title">
                {{ title }}
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component, Prop } from 'vue-property-decorator';

@Component({})
export default class WSubHeader extends BaseVue {

    @Prop({default : ''})
    title: string;
}
</script>

<style lang="scss" scoped>
.w-sub-header {
    width: 100%;
    height: $w-sub-header-height;
    .inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: map-get($colors, subHeadBackgroundImage);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .sub-title {
            @include noto-sans-cj-medium;
            font-size: 3rem;
            color: #ffffff;
        }
    }
}
</style>