<template>
  <div id="root">
      <TopProgress ref="progress" />
      <router-view />
      <MFooterBar />
  </div>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue.ts';
import TermModal from '~/modals/term.vue';
import { Component } from 'vue-property-decorator';
import TopProgress from '~/components/top-progress.vue';
import Sidebar from '~/components/sidebar.vue';
import MFooterBar from '~/components/m-footerbar.vue';
import Utils from '~/utils';

@Component({
      components: {
        TopProgress,
        MFooterBar
    }
})
export default class App extends BaseVue {
  created() {
    this.tokenLogin();
  }

  private async tokenLogin() {
      try {
        await this.singleTons.auth.tokenLogin();
      } catch(e) {
          console.error('fail token login');
      }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
