@mixin base-btn {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &:focus {
        outline: 0;
    }
}