@mixin noto-sans-cj-thin {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: 'normal';
    font-weight: 100;
}

@mixin noto-sans-cj-light {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: 'normal';
    font-weight: 300;
}

@mixin noto-sans-cj-regular {
    font-family: 'Noto Sans KR','Helvetica Neue',sans-serif;
    font-style: 'normal';
    font-weight: 400;
}

@mixin noto-sans-cj-medium {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: 'normal';
    font-weight: 500;
}

@mixin noto-sans-cj-bold {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: 'normal';
    font-weight: 700;
}

@mixin noto-sans-cj-black {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: 'normal';
    font-weight: 900;
}