@mixin base-select() {
    // .custom-select {
        position: relative;
        display: block;
        max-width: 200px;
        // min-width: 180px;
        width: 15%;
        min-width: 100px;
        // margin: 0 auto;
        // border: 1px solid #3C1C78;
        border: 2px solid map-get($colors, divider);
        // background-color: map-get($colors, divider);
        z-index: 10;
        border-radius: 10px;
    // }
        
    select {
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 15px 15px;
        font-size: 14px;
        // color: #714BB9;
        color: #000000;
    }
    &:after {
        position: absolute;
        right: 0;
        top: 0;
        // width: 50px;
        width: 30px;
        height: 100%;
        line-height: 38px;
        content: '\2228';
        text-align: center;
        color: #000000;
        font-size: 24px;
        // border-left: 1px solid #000000;
        z-index: -1;
    }
    select::-ms-expand {
        display: none;
    }
    
}
  