$m-header-height: 45px;
$w-header-height: 62px;
$m-content-height: calc(100vh - #{$m-header-height});
$w-content-height: calc(100vh - #{$w-header-height});

$m-sub-header-height: 48px;
$w-sub-header-height: 200px;

$colors: (
    pointcolor: #f83d16,
    background: #ffffff,
    divider: #e2e2e2,
    footerBack: #ffffff,
    footerFont: #ffffff,
    registerInputBorder: #dddddd,
    registerInputColor: #bbbbbb,

    subHeadBackgroundImage: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%),

    price: #9FACE6,
    pin: #5E35B1,
    delivery: #1E88E5,
    place: #43A047
)

