.custom-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .custom-container{
        // max-width: 540px;
    }
}

@media (min-width: 768px) {
    .custom-container {
        // max-width: 720px;
    }
}

@media (min-width: 992px) {
    .custom-container{
        // max-width: 960px;
    }
}

@media (min-width: 1024px) {
    .custom-container {
        max-width: 1024px;
        // max-width: 100%;
        // padding: 0 65px 0 42px;
    }
}