@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    width: 100%;
    height: 100vh;
    color: #424242;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}

body {
    font-size: 14px;
    margin: 0;
}

* {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
}

// [role="button"],
// input[type="submit"],
// input[type="reset"],
// input[type="button"],
// button {
//     cursor: pointer;
//     border: none;
//     margin: 0;
//     padding: 0;
//     -webkit-font-smoothing: inherit;
//     -moz-osx-font-smoothing: inherit;
//     -webkit-appearance: none;
//     &::-moz-focus-inner {
//         border: 0;
//         padding: 0;
//     }
// }
// button:focus {
//     outline: 0;
// }


input {
    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        height: 0;
        width: 0;
        margin: 0;
        -webkit-appearance: none;
        appearance: none;
    }
    &::-ms-clear {
        display: none;
    }
}

a {
    text-decoration: none;
}

img {
    image-rendering: optimizeQuality;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: bicubic;
}


.transform-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.crop-img {
    overflow: hidden;
    display: inline-flex;
    img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
    }
}