.section {
    width: 100%;
    background-color: #ffffff;
    // height: 100px;
    // margin-bottom: 20px;
    // padding: 60px 3%;
    @include respond-above(md) {
        // border-radius: 10px;
        // padding: 20px 3%;
        // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .section-title {
        font-size: 1.5rem;
        color: #424242;
        @include noto-sans-cj-medium;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    .etc-title {
        font-size: 1.5rem;
        color: #424242;
        @include noto-sans-cj-medium;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
}