<template>
    <LoginTemplate>
        <div slot="form" class="custom-container">
            <div class="form-wrapper">
                <div class="logo-wrapper">
                    <img src="../../assets/logo/logo.png" alt="" style="width: 256px;">
                </div>
                <div class="form">
                    <form @submit.prevent="login">
                        <div class="input-wrapper bottom-little">
                            <input v-model="form.data.email" type="text" placeholder="아이디" />
                        </div>
                        <div class="input-wrapper bottom-little">
                            <input v-model="form.data.password" type="password" placeholder="비밀번호" />
                        </div>
                        <button type="submit" class="login-btn">로그인</button>
                    </form>
                </div>
                <div class="signup-desc">
                    <span>애드톡톡에서 체험의 기회를 얻으세요</span>
                </div>
                <div class="signup-desc-sub">
                    <span>여러분의 생활이 변화합니다.</span>
                </div>
                <div class="signup-wrapper">
                    <button @click="$router.push('/auth/signup')">회원가입하기</button>
                </div>
            </div>
        </div>
    </LoginTemplate>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import LoginTemplate from '~/templates/login.vue';
import { LoginForm } from '~/forms/login';

@Component({
    components: {
        LoginTemplate
    }
})
export default class AuthLoginView extends BaseVue {

    public status = 'member';
    public orderId: string = '';

    public form = new LoginForm();

    mounted() {
        var redirection: string;
        if(typeof this.$route.query['redirection'] == 'string') {
            redirection = <string>this.$route.query['redirection'];
        }
        console.log('redirection = ', typeof this.$route.query['redirection']);
        console.log('redirection = ', this.$route.query['redirection']);
        console.log('redirection = ', redirection);
    }

    async login() {
        var redirection: string;
        if(typeof this.$route.query['redirection'] == 'string') {
            redirection = <string>this.$route.query['redirection'];
        }
        console.log('redirection = ', redirection);
        try {
            await this.singleTons.auth.login(this.form.data.email, this.form.data.password);
            if(redirection) {
                this.$router.push(redirection);
            } else {
                this.$router.push('/home');
            }
        } catch(e) {
            alert(e);
        }
    }

}
</script>

<style lang="scss" scoped>
.web-sub-title {
    display: none;
    @include respond-above(md) {
        text-align: center;
        display: block;
        font-size: 2rem;
        // color: map-get($colors, primary600);
        @include noto-sans-cj-medium;
    }
}

.form-wrapper {
    padding: 100px 10px;
    @include respond-above(md) {
        // margin-top: 200px;
        width: 400px;
        margin: 0 auto 0 auto;
    }

    .logo-wrapper {
        width: 100%;
        text-align: center;
    }
}
.form {
    margin-top: 20px;
    .input-wrapper {
        border: 1px solid map-get($colors, divider);
        padding: 10px;
        background-color: #ffffff;
        input {
            border: none;
            width: 100%;
            font-size: 1.5rem;
            background: none;
        }
    }
    .bottom-little {
        margin-bottom: 5px;
    }
    .bottom {
        margin-bottom: 10px;
    }
    .login-btn {
        @include base-btn;
        width: 100%;
        background-color: map-get($colors, primary400);
        color: #ffffff;
        font-size: 1.7rem;
        @include noto-sans-cj-medium;
        padding: 15px;
        margin-top: 15px;
    }
}
.signup-desc {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #333333;
    @include noto-sans-cj-bold;
}
.signup-desc-sub {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    color: #aaaaaa;
    @include noto-sans-cj-bold;
}

.signup-wrapper {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    button {
        @include base-btn;
        border-width: 1px;
        border-style: solid;
        border-color: #aaa;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        background: none;
        color: #333;
        @include noto-sans-cj-regular;
    }
}

</style>