<template>
    <SignupTemplate>
        <div slot="form" class="custom-container">
            <div class="form-wrapper">
                <h1 class="web-sub-title">회원가입하기</h1>
                <div class="form">
                    <form @submit.prevent="signup">
                        <div class="input-wrapper bottom-little">
                            <input v-model="form.data.email" type="text" placeholder="이메일" />
                        </div>
                        <div class="input-wrapper bottom-little">
                            <input v-model="form.data.password" type="password" placeholder="비밀번호(영문/숫자/특수문자조합 8자리이상)" />
                        </div>
                        <div class="input-wrapper bottom">
                            <input v-model="form.data.confirmPassword" type="password" placeholder="비밀번호확인" />
                        </div>
                        <div class="input-wrapper bottom-little">
                            <input v-model="form.data.name" type="text" placeholder="닉네임" />
                        </div>
                        <!-- <div class="input-wrapper bottom">
                            <input v-model="form.data.phone" type="text" placeholder="휴대폰" />
                        </div> -->
                        <div class="phone-wrapper bottom">
                            <label>
                                <select v-model="form.data.phone.first">
                                    <option v-for="(first, index) of form.phoneFirsts" :key="index">{{ first }}</option>
                                </select>
                            </label>
                            <div class="divider">-</div>
                            <div class="number-wrapper">
                                <input type="tel" v-model="form.data.phone.middle" maxlength="4"/>
                            </div>
                            <div class="divider">-</div>
                            <div class="number-wrapper">
                                <input type="tel" v-model="form.data.phone.end" maxlength="4"/>
                            </div>
                        </div>
                        <div class="check">
                            <div class="item">
                                <div style="margin-bottom: 10px;">
                                    <label>
                                        서비스 이용약관 동의
                                        <input type="checkbox" v-model="form.data.term">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="show" @click="openTermModal">보기</div>
                            </div>
                            <div class="item">
                                <div>
                                    <label>
                                        개인정보 수집 및 이용동의
                                        <input type="checkbox" v-model="form.data.privacy">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="show" @click="openPrivacyModal">보기</div>
                            </div>
                        </div>
                        <button type="submit" class="signup-btn">가입하기</button>
                    </form>
                </div>
            </div>
        </div>
    </SignupTemplate>
</template>

<script lang="ts">
import { BaseVue } from '~/models/vue';
import { Component } from 'vue-property-decorator';
import SignupTemplate from '~/templates/signup.vue';
import { SignupForm } from '~/forms/signup';
import TermModal from '~/modals/term.vue';
import PrivacyModal from '~/modals/privacy.vue';

@Component({
    components: {
        SignupTemplate
    }
})
export default class AuthSignupView extends BaseVue {
    public form = new SignupForm();

    public async openTermModal() {
        try {
            await this.$modal.open(TermModal, {});
        } catch(e) {

        }
    }

    public async openPrivacyModal() {
        try {
            await this.$modal.open(PrivacyModal, {});
        } catch(e) {
            
        }
    }

    public async signup() {
        try {
            let notValid = this.form.getNotValid;
            if (notValid) {
                throw('항목을 확인해주세요.(' + notValid + ')');
            }
            const data = this.form.validData();
            await this.singleTons.auth.signup(data.email, data.password, data.name, data.phone);
            this.$router.push('/home');
        } catch(e) {
            alert(e);
        }
        
    }
}
</script>

<style lang="scss" scoped>
.web-sub-title {
    display: none;
    @include respond-above(md) {
        text-align: center;
        margin-top: 40px;
        display: block;
        font-size: 2rem;
        // color: map-get($colors, primary800);
        @include noto-sans-cj-medium;
    }
}
.form-wrapper {
    padding: 100px 10px;
    @include respond-above(md) {
        // margin-top: 200px;
        width: 500px;
        margin: 0 auto 0 auto;
    }
}
.form {
    margin-top: 20px;
    .input-wrapper {
        border: 1px solid map-get($colors, divider);
        padding: 10px;
        background-color: #ffffff;
        border-radius: 10px;
        input {
            border: none;
            width: 100%;
            font-size: 1.5rem;
            background: none;
        }
    }
    .phone-wrapper {
        display: flex;
        label {
            @include base-select;
            background-color: #ffffff;
            border: 1px solid map-get($colors, divider);
            margin-bottom: 0;
            select {
                padding: 10px 55px 10px 15px;
            }
            &:after {
                font-size: 20px;
                color: map-get($colors, divider);
            }
        }
        .number-wrapper {
            border: 1px solid map-get($colors, divider);
            padding: 10px;
            background-color: #ffffff;
            border-radius: 10px;
            input {
                border: none;
                width: 100%;
                font-size: 1.5rem;
                background: none;
            }
        }
        .divider {
            font-size: 1.5rem;
            margin: 0 10px;
            display: flex;
            align-items: center;
            @include noto-sans-cj-bold;
        }
    }
    .bottom-little {
        margin-bottom: 5px;
    }
    .bottom {
        margin-bottom: 10px;
    }
    .check {
        padding: 10px;
        border-radius: 10px;
        background-color: #ffffff;
        margin-bottom: 10px;
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        label {
            @include base-checkbox;
            @include noto-sans-cj-regular;
        }
        .show {
            @include noto-sans-cj-regular;
            color: #cccccc;
            cursor: pointer;
        }
    }
    .signup-btn {
        @include base-btn;
        width: 100%;
        background-color: map-get($colors, primary400);
        color: #ffffff;
        font-size: 2rem;
        @include noto-sans-cj-medium;
        padding: 15px;
        border-radius: 10px;
    }
}
</style>